.body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

main {
    flex: 1;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav {
    text-align:right;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    padding: 5px;
    margin-bottom: 20px;
}

form {
    width: 50%;
}

.card-form {
    width: 100%;
}

.form-footer {
    margin-top: 20px;
    color: grey;
}

.bg-custom {
    background-color: #C1E1C1;
}

.nTerms-div {
    margin-bottom: 10px;
}

.csv-button {
    margin-left: 10px;
}

.save-form-button {
    margin-right:10px;
}

.csv-submit-button {
    margin-top: 10px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.center {
    text-align: center;
}

.existing-sets-div, .existing-cards-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 15%;
    margin-top: 30px;
}

.existing-set-div, .existing-card-div {
    border: 2px solid #C1E1C1;
    border-radius: 10px;
    padding: 10px;
    width: 300px; 
    background-color: #f8f8f8; 
    font-family: 'Courier New', Courier, monospace;
    transition: transform 0.3s ease-in-out;
}

.existing-set-div:hover, .existing-card-div:hover {
    transform: scale(1.05); /* Increase the size on hover */
}

.set-item {
    margin-bottom: 10px;
}

.set-title, .card-title {
    font-weight: bold;
    font-size: large;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px; /* Adjust the padding as needed */
    list-style-type: none;
}

