.body {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

main {
    flex: 1;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav {
    text-align:right;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    padding: 5px;
    margin-bottom: 20px;
}

form {
    width:fit-content;
    min-width: 40vw;
    display: inline-block;
}

.card-form {
    width: 100%;
}

.form-footer {
    padding: 20px;
    color: grey;
}

.bg-custom {
    background-color: #C1E1C1;
}

.nTerms-div {
    margin-bottom: 10px;
}

.csv-button {
    margin-left: 10px;
}

.save-form-button {
    margin-right:10px;
}

.csv-submit-button {
    margin-top: 10px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.existing-sets-div, .existing-cards-div, #edit-view {
    margin-top: 15px;
}

.card-div, .set-div {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    width: 60vw; 
    transition: transform 0.3s ease-in-out;
}

.existing {
    border: 2px solid #C1E1C1;
    background-color: #f8f8f8; 
    
}

.wrong-answer {
    border: 2px solid red;
    background-color: pink; 
}

.right-answer {
    border: 2px solid #C1E1C1;
    background-color: #e6fada; 
}

.set-div:hover, .card-div:hover, .existing-oneset-div:hover {
    transform: scale(1.05); /* Increase the size on hover */
}

.existing-onecard-div, .existing-oneset-div {
    border: 2px solid #C1E1C1;
    border-radius: 10px;
    min-width: 60vw;
    padding-left: 5vw; 
    padding-right: 5vw; 
    background-color: #f8f8f8; 
    transition: transform 0.3s ease-in-out;
    margin: auto;
    @media screen and (min-height: 667px) {
        font-size: 40px;
        margin: 10px;
        min-height:50vh;
    }
    @media screen and (max-height: 667px) {
        font-size: 30px;
        margin: 5px;
        min-height:35vh;
    }
}

.onecard-item, .oneset-item {
    @media screen and (min-height: 667px) {
        margin-bottom: 10vh;
    }
    @media screen and (max-height: 667px) {
        margin-bottom: 5vh;
    }
}

.onecard-title, .oneset-title {
    font-weight: bold;
    @media screen and (min-height: 667px) {
        margin-top: 12vh;
    }
    @media screen and (max-height: 667px) {
        margin-top: 7vh;
    }
}

.set-item {
    margin-bottom: 10px;
}

.set-title {
    font-weight: bold;
    font-size: large;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    list-style-type: none;
}

.disabled-link {
    pointer-events: none;
}

#view-mode-btn {
    margin-left: 15px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.inline {
    display: inline-block;
}

.added-title {
    margin-top: 30px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-form {
    all: unset;
}

.modal-form > button {
    float: right;
    margin: 4px;
}

.actions-bar {
    form {
        all:unset;
    }
    button {
        margin-top: 2px;
    }
    form {
        margin-top: 2px;
    }
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 10px 0px;
}

.pagination a.active {
    background-color: #C1E1C1;
}

.pagination a.inactive {
    background-color: #efeeee;
}

.pagination a:hover:not(.inactive):not(.active) {
    background-color: #ddd;
}

.btn-info {
    background-color: #C1E1C1;
    border: none;
    color: grey;
}

.finish-btn {
    color: grey;
}

.set-banner {
    margin-top: 20px;
    @media screen and (min-height: 667px) {
        h3 {
            font-size: 50px;
        }
        div {
            font-size: 20px;
        }
    }
    @media screen and (max-height: 667px) {
        h3 {
            font-size: 35px;
        }
        div {
            font-size: 20px;
        }
    }
}

.unset {
    all: unset;
}

#prompt {
    font-size: 15px;
    color: grey;
}

.result > h3 {
    margin: 3vh;
}

.back-btn {
    margin-left: 10px;
}