{% extends "flashcards/layout.html" %}
{% load static %}

{% block body %}

    <div class="container">
        {% if message %}
            <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endif %}

        <h2>{{ set.name }}: Add cards via CSV</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="custom-file">
                <input type="file" accept=".xlsx, .xls, .csv" class="custom-file-input" id="customFile" name="file">
                <label class="custom-file-label left" for="customFile">Choose file</label>
            </div>
            <div class="form-footer left">
                <ul>
                Your one-file submission should include:
                    <li>Two columns total</li>
                    <li>Left column for Term,  Right column for Definition</li>
                    <li>CSV (.csv) file <strong>must not</strong> contain headers</li>
                    <li>Excel (.xls/.xlsx) file <strong>must</strong> contain headers: "Term" and "Definition"</li>
                </ul>
                Download sample <a href="{% static 'flashcards/sample.csv' %}" download>CSV</a> and <a href="{% static 'flashcards/sample.xlsx' %}" download>Excel</a> files.
            </div>
            <div>
                <button class="btn btn-dark csv-submit-button" type="submit">Submit</button>
            </div>
        </form>
        <img src="{% static 'flashcards/sleeping-bear.svg' %}">
    </div>
    
{% endblock %}