{% extends "flashcards/layout.html" %}

{% block body %}

<div class="container center">
    <h2>Your Sets</h2>
    <div class="existing-sets-div">
        {% for set in sets %}
        <div class="existing-set-div" id="{{ set.id }}">
            <div class="set-item set-title">{{ set.name }}</div>
            <div class="set-item">
                <ul>
                    <li>{{ set.description }}</li>
                    {% if set.cards.all %}
                        <li>{{ set.cards.all.first.term }}: {{ set.cards.all.first.definition }}...</li>
                    {% else %}
                        <li>No cards yet</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% empty %}
        <div>
            You have not made a study set. <a href="{% url 'create' %}">Create.</a>
        </div>
        {% endfor %}
    </div>

    <h2 class="added-title">Added</h2>
    <div class="existing-sets-div">
        {% for add in added %}
        <div class="existing-set-div" id="{{ add.set.id }}">
            <div class="set-item set-title">{{ add.set.name }}</div>
            <div class="set-item">
                <ul>
                    <li>{{ add.set.description }}</li>
                    {% if add.set.cards.all %}
                        <li>{{ add.set.cards.all.first.term }}: {{ add.set.cards.all.first.definition }}...</li>
                    {% else %}
                        <li>No cards yet</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script> 
    const sets = document.querySelectorAll(".existing-set-div");
    sets.forEach((set) => {
        set.addEventListener('click', function() {
            const set_id = parseInt(set.id);
            document.location.href = `/view-set/${set_id}`;
        })
    })
</script>



{% endblock %}