{% extends "flashcards/layout.html" %}
{% load static %}

{% block body %}

    {% if message %}
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endif %}

    {% if user_is_not_owner %}
    {% else %}
        <!-- Delete confirmation modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close right">&times;</span>
                <p>Are you sure you want to delete this set?</p>
                <small>This action cannot be undone.</small>
                <div>
                    <form method="post" class="modal-form">
                        {% csrf_token %}
                        <button name="action" value="delete" type="submit" class="btn btn-danger">Yes</button> 
                        <button class="btn btn-dark no">No</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container center">
        <h3>{{ set.name }}</h3>
        <div>{{ set.description }}</div>
        <div class="set-actions">
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="view-mode-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button id="one-card-view-btn" class="dropdown-item">Individual Cards</button>
                <button id="all-cards-view-btn" class="dropdown-item">All Cards</button>
            </div>
            <button class="btn btn-outline-info popup" onclick="showDetails()">Details
                <span class="popuptext" id="detailsPopup">
                    {{ set.cards.all.count }} card(s) created by {{ set.owner }} on {{ set.timestamp }}
                </span>
            </button>
            <button onclick="share()" class="btn btn-outline-info popup">Share
                <span class="popuptext" id="copyPopup">
                    Link copied to clipboard!
                </span>
            </button>
            {% if user.is_authenticated %}
                {% if user_is_not_owner %}
                    <form method="post">
                        {% csrf_token %}
                        {% if user_has_not_added %} 
                            <button name="action" value="add" type="submit" class="btn btn-outline-info set-btn" title="Add this set to your collection" id="add">Add</button>
                        {% else %}
                            <button name="action" value="unadd" type="submit" class="btn btn-outline-info set-btn" title="Remove this set from your collection" id="unadd">Remove</button>
                        {% endif %}
                    </form>
                {% else %}
                    <button class="btn btn-outline-info set-btn" id="edit-btn" title="Edit this set">Edit</button>
                    <button class="btn btn-outline-info set-btn" id="delete-btn" title="Delete this set">Delete</button>
                {% endif %}
            {% endif %}
        </div>

        <!-- Default view: -->
        <div class="existing-cards-div" id="one-card-view">
            {% if page_obj %}
                {% for card in page_obj %}
                <div class="existing-onecard-div" id="{{ card.pk }}">
                    <div class="onecard-item onecard-title">{{ card.term }}</div>
                    <div class="oncard-item">
                        <ul>
                            <li>{{ card.definition }}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div>No cards yet.</div>
            {% endif %}

            {% if page_obj %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo;</a>
                        <a href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
                    {% else %}
                        <a class="inactive">&laquo;</a>
                        <a class="inactive">&lsaquo;</a>
                    {% endif %}
                        <a class="active">{{ page_obj.number }}</a>
                        <a class="inactive">{{ page_obj.paginator.num_pages }}</a>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                    {% else %}
                        <a class="inactive">&rsaquo;</a>
                        <a class="inactive">&raquo;</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <!-- All Cards View: -->
        <div class="existing-cards-div" id="all-cards-view" style="display:none">
            {% for card in set.cards.all %}
            <div class="existing-card-div" id="{{ card.pk }}">
                <div class="set-item set-title">{{ card.term }}</div>
                <div class="set-item">
                    <ul>
                        <li>{{ card.definition }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <!-- Edit View:  -->
        {% if user_is_not_owner %}
        {% else %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="set_name">Set Name:</label>
                <input class="form-control" name="set_name" type="text" value="{{ set.name }}">
            </div>
            <div class="form-group">
                <label for="set_name">Set Description:</label>
                <input class="form-control" name="set_description" value="{{ set.description }}" type="text">
            </div>
            {% for card in set.cards.all %}
            <label for="card_{{ card.pk }}_term">Card:</label>
            <div class="form-group">
                <input class="form-control" name="card_{{ card.pk }}_term" value="{{ card.term }}" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="card_{{ card.pk }}_definition" value="{{ card.definition }}" type="text">
            </div>
            {%  endfor %}
            <div class="add-card-div">
            </div>
            <button class="btn btn-dark add-card-button">Add Card</button>
            <button name="method" value="reg" class="btn btn-dark save-form-button">Save</button>
        </form>
        {% endif %}
    </div>

    <script>
        const share = async () => {
            try {
                await navigator.clipboard.writeText(window.location.href.slice(7));
                const copyPopup = document.getElementById("copyPopup");
                copyPopup.classList.toggle("show");
            } catch (err) {
                alert("Failed to copy link");
            }
        }

        // Delete button & functionality
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("delete-btn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        const nobtn = document.querySelector(".no");
        if (nobtn) {
            nobtn.onclick = function(event) {
                event.preventDefault();
                modal.style.display = "none";
            }
        }
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }

        // Show set details
        function showDetails() {
            const detailsPopup = document.getElementById("detailsPopup");
            detailsPopup.classList.toggle("show");
        }

        const oneCardBtn = document.querySelector("#one-card-view-btn");
        if (oneCardBtn) {
            oneCardBtn.onclick = function() {
                document.querySelector("#all-cards-view").style.display = 'none';
                document.querySelector("#one-card-view").style.display = 'block';
            }
        }

        const allCardsBtn = document.querySelector('#all-cards-view-btn');
        if (allCardsBtn) {
            allCardsBtn.onclick = function() {
                document.querySelector("#all-cards-view").style.display = 'block';
                document.querySelector("#one-card-view").style.display = 'none';
            }
        }
    </script>
{% endblock %}