{% extends "flashcards/layout.html" %}

{% block body %}

<div class="center">
    <h2>
        {{ set.name }}
        <button onclick="share()" class="btn btn-outline-info set-btn" id="share-btn" title="Copy link">Share</button>
    </h2>
    <div>{{ set.description }}</div>
    <div>{{ set.cards.all.count }} card(s) in this set</div>
    <div>Created {{ set.timestamp }}</div>

    <div class="existing-cards-div">
        {% for card in set.cards.all %}
        <div class="existing-card-div" id="{{ card.id }}">
            <div>
                <ul>
                    <li class="card-title">{{ card.term }}</li>
                    <li>{{ card.definition }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    const share = async () => {
    try {
        await navigator.clipboard.writeText(window.location.href.slice(7));
        document.getElementById('share-btn').title = 'Link copied to clipboard';
    } catch (err) {
        alert("Failed to copy link");
    }
  }
</script>
{% endblock %}