{% extends "flashcards/layout.html" %}

{% block body %}

    {% if message %}
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endif %}

    <div class="center">
        <h2>
            {{ set.name }}
            <button onclick="share()" class="btn btn-outline-info set-btn" id="share-btn" title="Copy link">Share</button>
            {% if user_is_not_owner %}
                <form method="post" class="btnform">
                    {% csrf_token %}
                    {% if user_has_not_added %} 
                        <button name="action" value="add" type="submit" class="btn btn-outline-info set-btn" title="Add this set to your collection">Add</button>
                    {% else %}
                        <button name="action" value="unadd" type="submit" class="btn btn-outline-info set-btn" title="Remove this set from your collection">Remove</button>
                    {% endif %}
                </form>
            {% else %}
                <button class="btn btn-outline-info set-btn" id="edit-btn" title="Edit this set">Edit</button>
                <button class="btn btn-outline-info set-btn" id="delete-btn" title="Delete this set">Delete</button>
            {% endif %}
        </h2>
        <div>{{ set.description }}</div>
        <div>{{ set.cards.all.count }} card(s) in this set</div>

        {% if user_is_not_owner %}
            <div>Created by {{ set.owner }} on {{ set.timestamp }}</div>
        {% else %}
            <div>Created by you on {{ set.timestamp }}</div>
        {% endif %}

        <div class="existing-cards-div">
            {% for card in set.cards.all %}
            <div class="existing-card-div" id="{{ card.id }}">
                <div>
                    <ul>
                        <li class="card-title">{{ card.term }}</li>
                        <li>{{ card.definition }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        const share = async () => {
        try {
            await navigator.clipboard.writeText(window.location.href.slice(7));
            document.getElementById('share-btn').title = 'Link copied to clipboard';
        } catch (err) {
            alert("Failed to copy link");
        }
        }

    </script>
{% endblock %}