{% extends "flashcards/layout.html" %}

{% block body %}

<!-- End study session confirmation modal -->
<div id="endModal" class="modal">
    <div class="modal-content">
        <span class="close right">&times;</span>
        <p>Are you sure you want to end this test?</p>
        <small>Your progress will not be saved.</small>
        <div>
            <form action="{% url 'view-set' set.id %}" class="modal-form">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes</button> 
                <button class="btn btn-dark no">No</button>
            </form>
        </div>
    </div>
</div>

<div class="container center">
    {% if set.cards.all.count == 0 %}
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            There are no terms in this set to study. <a href="{% url 'view-set' set.id %}"> Go Back </a>
        </div>
    {% else %}
        <div class="existing-cards-div" id="one-card-view">
            <form method="POST">
                {% csrf_token %}
                {% for card in cards %}
                <div class="existing-onecard-div" id="{{ card.pk }}">
                    <div class="onecard-item onecard-title">{{ card.definition }}</div>
                    <div class="form-group">
                        <input class="answer form-control" placeholder="Term">
                    </div>
                </div>
                {% endfor %}

                <div class="actions-bar">
                    <button class="btn btn-info set-btn" id="end-btn">End</button>
                    <button class="btn btn-light set-btn disabled-link finish-btn">Finish</button>
                </div>
            </form>
        </div>
    {% endif %}
</div>

<script>
    const answers = document.querySelectorAll(".answer");
    const finishbtn = document.querySelector('.finish-btn');

    answers.forEach((answer) => {
        answer.addEventListener('change', function() { 
            finishbtn.classList.remove('disabled-link');
            finishbtn.classList.remove('btn-light');
            finishbtn.classList.add('btn-info');
        })
    })

    // End session modal
    var modal = document.getElementById("endModal");
    var btn = document.getElementById("end-btn");
    var span = document.getElementsByClassName("close")[0];

    btn.addEventListener('click', function(event) {
        event.preventDefault();
    })

    btn.onclick = function() {
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    const nobtn = document.querySelector(".no");
    if (nobtn) {
        nobtn.onclick = function(event) {
            event.preventDefault();
            modal.style.display = "none";
        }
    }
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }
</script>

{% endblock %}