{% extends "flashcards/layout.html" %}

{% block body %}

<!-- End study session confirmation modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <span class="close right">&times;</span>
        <p>Are you sure you want to end this test?</p>
        <small>Your progress will not be saved.</small>
        <div>
            <form action="{% url 'view-set' set.id %}" class="modal-form">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes</button> 
                <button class="btn btn-dark no">No</button>
            </form>
        </div>
    </div>
</div>

<div class="container center">
    {% if set.cards.all.count == 0 %}
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            There are no terms in this set to study. <a href="{% url 'view-set' set.id %}"> Go Back </a>
        </div>
    {% else %}
        <div class="existing-cards-div" id="one-card-view">
            <form method="POST">
                {% csrf_token %}
                {% for card in cards %}
                <div class="existing-onecard-div">
                    <div class="onecard-item onecard-title">{{ card.definition }}</div>
                    <div class="form-group">
                        <input class="test-answer form-control" name="{{ card.pk }}" placeholder="Term">
                    </div>
                </div>
                {% endfor %}

                <div class="actions-bar">
                    <button class="btn btn-info set-btn" id="delete-btn">End</button>
                    <button class="btn btn-light set-btn disabled-link finish-btn">Finish</button>
                </div>
            </form>
        </div>
    {% endif %}
</div>

{% endblock %}